
@model SwiftStocks.Models.StocksViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Stocks</title>
    <link rel="stylesheet" href="~/css/stocks.css" />
</head>
<body>
    <div class="top-bar">
        <nav>
           
            <ul>
                <li>My watchlist</li>
                @foreach (var watchlist in Model.Watchlists)
                {
                    <li>@watchlist.Name</li>
                }
            </ul>
        </nav>
    </div>

    <div class="layout">
        <!-- Sidebar -->
        <aside class="sidebar">
            
        </aside>

        <!-- Main Panel -->
        <main class="main-panel">
            <div class="stock-panel">
                
                </div>
                
            </div>
            
        </main>
    </div>
    <script src="~/js/stocks.js"></script>
</body>
</html>