

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Stocks</title>
    <link rel="stylesheet" href="~/css/stocks.css" />
</head>
<body>
    <div class="top-bar">
        <nav>
            <ul>
                <li>News</li>
                <li>My watchlist</li>
                <li>Commodities</li>
                <li>Stocks</li>
                <li>Indices</li>
                <li>Forex</li>
                <li>Most traded</li>
                <li class="active">Top movers</li>
                <li>New on T212</li>
            </ul>
        </nav>
    </div>

    <div class="layout">
        <!-- Sidebar -->
        <aside class="sidebar">
            
        </aside>

        <!-- Main Panel -->
        <main class="main-panel">
            <div class="stock-panel">
                
                </div>
                
            </div>
            
        </main>
    </div>
    <script src="~/js/stocks.js"></script>
</body>
</html>